<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartsurveillance"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.smartsurveillance.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name=".IPSetting" android:label="IP Address Setting" />
         <activity android:name=".Login" android:label="Smart Surveillance Login" />
         <activity android:name=".Home" android:label="Smart Surveillance" />
         <activity android:name=".LiveStream" android:label="Live Streaming" />
         <activity android:name=".CapturedPhoto" android:label="Captured Photos" />
         <activity android:name=".RecordedVideo" android:label="Recorded Videos" />
         <activity android:name=".ViewPhoto" android:label="Photo Viewer" />
         <activity android:name=".PlayVideo" android:label="Video Player" />
    </application>
	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
